# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.bak
*.cache
*.DS_Store

# Logs and debugging
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*
